.allDoctorOrdersContainer {
  padding: 0 1.5vw 0 0.5vw;
  height: 83vh;
  overflow-y: auto;
}

.allDoctorOrdersContainer::-webkit-scrollbar {
  width: 10px;
}

.allDoctorOrdersContainer::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #EBE7FF;
}

.allDoctorOrdersContainer::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #003B72;
}

.allDoctorOrdersContainer::-webkit-scrollbar-thumb:hover {
  background: #003B72;
}